.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.730957;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.873047;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:44.160000px;}
.fs0{font-size:48.000000px;}
.yb{bottom:1.251600px;}
.y10{bottom:3.090800px;}
.y15{bottom:3.720000px;}
.yd{bottom:3.913600px;}
.y8{bottom:4.083800px;}
.y9{bottom:4.300800px;}
.y16{bottom:4.567000px;}
.y12{bottom:4.663800px;}
.y5{bottom:4.809800px;}
.y6{bottom:5.752800px;}
.y2{bottom:10.424200px;}
.y3{bottom:11.367200px;}
.yf{bottom:32.130800px;}
.y0{bottom:53.500000px;}
.y17{bottom:103.472800px;}
.y14{bottom:120.364400px;}
.y13{bottom:137.062400px;}
.y11{bottom:153.954000px;}
.ye{bottom:170.845600px;}
.yc{bottom:229.506400px;}
.ya{bottom:246.398000px;}
.y7{bottom:259.659600px;}
.y4{bottom:284.585600px;}
.y1{bottom:303.316400px;}
.h8{height:12.761600px;}
.hc{height:16.198000px;}
.h9{height:16.391600px;}
.h6{height:16.778800px;}
.h5{height:18.230800px;}
.h2{height:23.845200px;}
.h4{height:30.597187px;}
.ha{height:30.726562px;}
.h7{height:34.500000px;}
.h3{height:34.945312px;}
.hb{height:43.640800px;}
.h1{height:274.500000px;}
.h0{height:381.411600px;}
.w5{width:26.913400px;}
.w7{width:72.064900px;}
.w8{width:77.708900px;}
.wc{width:138.179700px;}
.w3{width:189.781400px;}
.w9{width:195.425300px;}
.w6{width:205.907000px;}
.wb{width:251.058400px;}
.w2{width:289.759700px;}
.wa{width:580.019500px;}
.w1{width:581.500000px;}
.w4{width:590.501200px;}
.w0{width:691.801100px;}
.x2{left:1.825000px;}
.x10{left:44.189200px;}
.xe{left:47.086700px;}
.x0{left:50.000000px;}
.x12{left:54.822200px;}
.xc{left:73.411800px;}
.x5{left:78.063400px;}
.xf{left:81.350300px;}
.xd{left:85.654700px;}
.x6{left:89.377200px;}
.x11{left:91.983300px;}
.xb{left:96.031700px;}
.x4{left:105.850500px;}
.x1{left:150.628400px;}
.xa{left:189.329700px;}
.x7{left:284.470400px;}
.x8{left:357.035300px;}
.x9{left:435.244200px;}
.x3{left:440.888100px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:58.880000pt;}
.fs0{font-size:64.000000pt;}
.yb{bottom:1.668800pt;}
.y10{bottom:4.121067pt;}
.y15{bottom:4.960000pt;}
.yd{bottom:5.218133pt;}
.y8{bottom:5.445067pt;}
.y9{bottom:5.734400pt;}
.y16{bottom:6.089333pt;}
.y12{bottom:6.218400pt;}
.y5{bottom:6.413067pt;}
.y6{bottom:7.670400pt;}
.y2{bottom:13.898933pt;}
.y3{bottom:15.156267pt;}
.yf{bottom:42.841067pt;}
.y0{bottom:71.333333pt;}
.y17{bottom:137.963733pt;}
.y14{bottom:160.485867pt;}
.y13{bottom:182.749867pt;}
.y11{bottom:205.272000pt;}
.ye{bottom:227.794133pt;}
.yc{bottom:306.008533pt;}
.ya{bottom:328.530667pt;}
.y7{bottom:346.212800pt;}
.y4{bottom:379.447467pt;}
.y1{bottom:404.421867pt;}
.h8{height:17.015467pt;}
.hc{height:21.597333pt;}
.h9{height:21.855467pt;}
.h6{height:22.371733pt;}
.h5{height:24.307733pt;}
.h2{height:31.793600pt;}
.h4{height:40.796250pt;}
.ha{height:40.968750pt;}
.h7{height:46.000000pt;}
.h3{height:46.593750pt;}
.hb{height:58.187733pt;}
.h1{height:366.000000pt;}
.h0{height:508.548800pt;}
.w5{width:35.884533pt;}
.w7{width:96.086533pt;}
.w8{width:103.611867pt;}
.wc{width:184.239600pt;}
.w3{width:253.041867pt;}
.w9{width:260.567067pt;}
.w6{width:274.542667pt;}
.wb{width:334.744533pt;}
.w2{width:386.346267pt;}
.wa{width:773.359333pt;}
.w1{width:775.333333pt;}
.w4{width:787.334933pt;}
.w0{width:922.401467pt;}
.x2{left:2.433333pt;}
.x10{left:58.918933pt;}
.xe{left:62.782267pt;}
.x0{left:66.666667pt;}
.x12{left:73.096267pt;}
.xc{left:97.882400pt;}
.x5{left:104.084533pt;}
.xf{left:108.467067pt;}
.xd{left:114.206267pt;}
.x6{left:119.169600pt;}
.x11{left:122.644400pt;}
.xb{left:128.042267pt;}
.x4{left:141.134000pt;}
.x1{left:200.837867pt;}
.xa{left:252.439600pt;}
.x7{left:379.293867pt;}
.x8{left:476.047067pt;}
.x9{left:580.325600pt;}
.x3{left:587.850800pt;}
}
